@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Thin.woff2') format('woff2'),
        url('./fonts/Onest-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Light.woff2') format('woff2'),
        url('./fonts/Onest-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Regular.woff2') format('woff2'),
        url('./fonts/Onest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Medium.woff2') format('woff2'),
        url('./fonts/Onest-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-ExtraLight.woff2') format('woff2'),
        url('./fonts/Onest-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-SemiBold.woff2') format('woff2'),
        url('./fonts/Onest-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Bold.woff2') format('woff2'),
        url('./fonts/Onest-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Black.woff2') format('woff2'),
        url('./fonts/Onest-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-ExtraBold.woff2') format('woff2'),
        url('./fonts/Onest-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: rgba(24, 24, 24, 1);
    --black-linear: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%, #000000 100%);
    --white: rgba(255, 255, 255, 1);
    --blue: rgba(120, 130, 249, 1);
    --pink: rgba(241, 148, 124, 1);
    --white-trasprant: rgba(255, 255, 255, 0.05);
    --light-sky-blue: rgba(242, 249, 255, 1);
    --light-blue: rgba(242, 243, 255, 1);
    --light-green: rgba(231, 255, 237, 1);
    --light-pink: rgba(255, 240, 236, 1);
    --dark-blue: rgba(11, 18, 26, 1);
    --skyblue: rgba(28, 145, 249, 1);
    --skyblue-linear: linear-gradient(259.23deg, #1C91F9 0%, #0A569A 100%);
    --green: rgba(79, 202, 86, 1);
}

body {
    color: var(--black);
    font-family: 'Onest';
    overflow-x: hidden;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Onest';
}

h1,
.title-h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 128%;

}

h3,
.title-h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;

}

.small-h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

}

.big-h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

}

h4,
.title-h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

}

.small-h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

}

span {
    font-weight: 600;
    font-size: 60px;
    line-height: 128%;

}

.container {
    max-width: 1540px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 50px;
}

.max-container {
    max-width: 1700px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 50px;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    -webkit-user-select: none;
    user-select: none;
}

p {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.small-p {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;

}

a {
    color: var(--white);
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.bg-color-white {
    background: var(--white);
}

.bg-color-dark-blue {
    background: var(--dark-blue);
}

.bg-color-light-blue {
    background: rgba(242, 249, 255, 1);
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.btn {
    background: var(--skyblue);
    color: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
    padding: 13px 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    border: 1px solid var(--skyblue);
    transition: all 0.4s ease;
}

.btn:hover {
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--skyblue);
}

.arrow-pre:hover,
.arrow-next:hover {
    background: var(--skyblue);
    color: var(--white);
}

.white-btn:hover {
    background: var(--skyblue);
    color: var(--white);
    border: 1px solid var(--skyblue);
}

.arrow-pre:hover svg path,
.arrow-next:hover svg path {
    fill: var(--white);
}

.padding-both-one-twenty {
    padding: 120px 0px;
}

.padding-top-one-twenty {
    padding-top: 120px;
}

.padding-bottom-one-twenty {
    padding-bottom: 120px;
}

.padding-img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gap-sixteen {
    gap: 16px;
}

.gap-eighty {
    gap: 80px;
}

.gap-thirty {
    gap: 30px;
}

.gap-sixty {
    display: flex;
    gap: 60px;
}

.gap-ninety {
    gap: 90px;
}

.gap-hundred {
    gap: 100px;
}

.gap-one-twenty {
    gap: 120px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header-main {
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 118px;
    padding: 30px;
}

.header-logo,
.footer-logo {
    display: flex;
    cursor: pointer;
    width: max-content;
}

.mobileicon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 1000;
}

.mobileicon span {
    display: none;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu {
    margin: 0px auto;
}

.navbar-links a {
    color: var(--black);
    font-size: 20px;
    line-height: 26px;
}

.navbar-links a:hover,
.footer-links a:hover {
    color: var(--skyblue);
}

.hero-banner-section {
    position: relative;
    aspect-ratio: 16 / 8.925;
    display: flex;
    align-items: end;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.hero-banner-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.hero-banner-img img {
    object-position: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-banner-img::after {
    content: "";
    position: absolute;
    background: var(--black-linear);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.hero-banner-main {
    padding-top: 150px;
    padding-bottom: 102px;
}

.hero-banner-bottom {
    position: relative;
}

.hero-banner-main,
h1 {
    color: var(--white);
}

.comman-btn {
    display: inline-flex;
    border-radius: 1000px;
    padding: 8px 24px;
    color: var(--green);
    border: 1px solid var(--green);
    background: var(--white-trasprant);
    line-height: 21px;
    font-size: 18px;
    font-weight: 600;
}

.vertical-pagination {
    right: 60px !important;
}

.swiper-pagination-bullet {
    width: 4px;
    height: 16px;
    background: var(--white);
    opacity: 0.6;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: var(--light-blue);
    height: 70px;
    opacity: 1;
}

.hero-banner-section .swiper {
    width: 100%;
    height: 100%;
}

.hero-banner-section .swiper-slide {
    display: flex;
    align-items: flex-end;
}

.our-partners-main .heading-top,
.innovation-solution-main h2,
.our-team-main h2 {
    text-align: center;
}

.company-logo {
    max-width: 200px;
    width: 100%;
    padding: 37px 15px;
    border-radius: 16px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-partners .swiper-wrapper {
    transition-timing-function: linear !important;
}

.our-partner-swiper {
    z-index: 0;
}

.our-partners-company-logo {
    padding-top: 30px;
}

.healthcare-rigth-img img,
.audit-managment-img img,
.features-right img {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    object-fit: cover;
}

.healthcare-top .heading-top {
    gap: 12px;
}

.healthcare-top .heading-top {
    flex: 1;
}

.healthcare-top {
    align-items: center;
}

.healthcare-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.healthcare-cards-logo {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.healthcare-cards:nth-child(1) .healthcare-cards-logo {
    background: var(--blue);
}

.healthcare-cards:nth-child(2) .healthcare-cards-logo {
    background: var(--green);
}

.healthcare-cards:nth-child(3) .healthcare-cards-logo {
    background: var(--pink);
}

.healthcare-cards {
    border-radius: 32px;
    padding: 30px;
}

.healthcare-cards:nth-child(1) {
    background: var(--light-blue);
}

.healthcare-cards:nth-child(2) {
    background: var(--light-green);
}

.healthcare-cards:nth-child(3) {
    background: var(--light-pink);
}

.choose-us {
    padding-top: 236px;
}

.choose-us-main {
    background: var(--skyblue-linear);
    color: var(--white);
    border-radius: 50px;
    align-items: center;
    padding: 80px;
}

.choose-us-left {
    flex: 1;
}

.choose-us-right {
    width: 53.82%;
    margin-top: -216px;
    margin-right: -80px;
    margin-bottom: -80px;
    align-self: end;
}

.choose-details-heading {
    display: flex;
    align-items: center;
    gap: 12px;
}


.choose-us-details {
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    background: var(--white-trasprant);
}

.choose-us-left-bottom,
.innovative-solution-bottom {
    counter-reset: item;
}

.counter-item::before {
    counter-increment: item;
    content: counter(item, decimal-leading-zero);
    background: var(--white);
    color: var(--black);
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innovation-solution {
    padding-bottom: 68px;
}

.innovative-solution-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.innovative-details-box {
    border-radius: 32px;
    padding: 30px;
    background: var(--light-blue);
}

.innovative-heading-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innovative-details-box .heading-top {
    gap: 16px;
}

.innovative-heading-top .counter-item::before {
    opacity: 40%;
    background: none;
}

.innovative-img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    padding: 20px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-team-main {
    overflow: hidden !important;
}

.our-team-member-details {
    position: relative;
    max-width: 420px;
    width: 100%;
    border-radius: 20px;
}

.our-team-swiper {
    width: 100%;
    padding-top: 80px;
}

.member-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.member-details {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    background: var(--white);
    gap: 8px;
    border-radius: 20px;
    padding: 16px;
}

.member-details p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.member-details h4 {
    line-height: 36px;
}


.data-analytics .heading-top {
    background: url(images/cta-patch.svg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    padding: 116px 80px;
    color: var(--white);
}

.data-analytics h1 {
    max-width: 900px;
    width: 100%;
}

.footer-section {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    color: var(--white);
}

.footer-main,
.footer-left {
    gap: 50px;
}

.footer-top {
    justify-content: space-between;
}

.footer-left {
    width: 27.8%;
}

.footer-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 88px;
}

.form-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
}

.form-section .heading-top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 1000px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: var(--white-trasprant);
}

.white-btn {
    border: 1px solid var(--white);
    background: var(--white);
    color: var(--black);
}

.form-section input {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: none;
    border: none;
}

.footer-details:nth-child(3) {
    max-width: 340px;
    width: 100%;
}

.footer-links,
.blogs-details {
    gap: 8px;
}

.footer-right {
    gap: 40px;
}

.footer-links a,
.address-details p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.8;
}

.address-details {
    gap: 8px;
}

.copyright-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-top: 1px solid var(--white-trasprant);
}

.copyright-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    opacity: 0.7;
}

.community {
    overflow-x: hidden !important;
}

.arrow {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.arrow-pre,
.arrow-next {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 12px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white);
}

.community-bottom {
    padding-top: 60px;

}

.community-swiper {
    width: 100%;
}

.community-main {
    text-align: center;
}

.community-img {
    width: 46.3%;
    border-radius: 12px;
    object-fit: cover;
}

.community-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.community-details {
    flex: 1;
}

.community-details {
    gap: 8px;
}

.community-details-main {
    max-width: 1194px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    padding: 30px;
    background: var(--white);
}

/* About Us */
.company-profile-main {
    display: flex;
    align-items: center;
}

.company-profile-containt-left {
    gap: 12px;
    flex: 1;
}

.company-profile-containt-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 52.64%;
}

.profile-img:nth-child(1) {
    grid-row: span 2;
    position: relative;
    padding-top: 189.71%;
}

.profile-img:nth-child(1) img {
    position: absolute;
    top: 0;
    left: 0;
}

.profile-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 32px;
}

.vision-mission-containt-main {
    display: flex;
    gap: 60px;
}

.vision-mission-containt-main .heading-top p {
    max-width: 1191px;
    margin: 0px auto;
}

.our-vision-containt {
    gap: 24px;
    padding: 30px;
    border-radius: 24px;
    width: 49%;
}

.our-vision-img-1 img,
.our-vision-img-2 img {
    border-radius: 16px;
}

.our-vision-img-2 {
    position: relative;
    padding-top: 59.59%;
}

.our-vision-containt:nth-child(2) {
    flex-direction: column-reverse;
    flex: 1;
}

.heading-top {
    gap: 12px;
}

.our-vision-heading {
    gap: 8px;
}

.our-vision-img-1 {
    position: relative;
    padding: 31.754% 0;
}

.vision-mission-containt-main .heading-top {
    text-align: center;
}

.vission-mission-contain-bottom {
    display: flex;
}

.leadership-img {
    position: relative;
    padding: 52.94% 0%;
}

.leadership-img img {
    border-radius: 32px;
}

.leadership-main-contain {
    display: flex;
}

.leadership-img-contain {
    width: 50.84%;
    gap: 40px;
}

.leadership-right {
    flex: 1;
    gap: 40px;
}

.leadership-right .choose-us-details {
    display: flex;
    background: var(--light-sky-blue);
    gap: 12px;
    align-items: baseline;
}

.leadership-right .choose-details-heading {
    align-items: flex-start;
}

.mediqm-revenue-lifecycle-section {
    padding-bottom: 80px;
}

.mediqm-revenue-left {
    gap: 24px;
    flex: 1;
}

.mediqm-revenue-accodion {
    gap: 20px;
}

.mediqm-details {
    padding: 24px;
    border-radius: 16px;
}

.mediqm-revenue-main {
    display: flex;
}

.mediqm-right {
    width: 52.1%;
    position: relative;
    padding-top: 62.02%;
}

.mediqm-right img {
    border-radius: 24px;
}

.mediqm-details ul {
    max-width: 466px;
    display: none;
    gap: 8px;
    flex-direction: column;
    padding-left: 24px;
}

.mediqm-details.active ul {
    display: flex;
    align-items: stretch;
}

.mediqm-details li {
    list-style: initial;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.mediqm-details h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mediqm-details.active h3 svg {
    transform: rotate(180deg);
}

.patient-care-main {
    display: flex;
    align-items: center;
}

.patient-care-main .heading-top {
    flex: 1;
}

.patient-care-img {
    width: 48.959%;
    position: relative;
}

.service-main .patient-care-main:nth-child(even) {
    flex-direction: row-reverse;
}

.learn-more-main {
    display: flex;
    padding-left:80px;
    align-items: center;
    background: linear-gradient(256.13deg, #1C91F9 -6.04%, #0A569A 104.57%);
    color: var(--white);
    border-radius: 50px;
    gap: 35px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.get-touch .learn-more-main {
    overflow: visible;
    gap: 2px;
}

.learn-more-details {
    flex: 1;
    padding: 48px 0px;
}

.learn-more-img {
    width: 52.237%;
    margin-right: -197px;
    margin-bottom: -156px;
}

.learn-more-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ai-power-img-2 {
    bottom: 49px;
    position: absolute;
    right: -92px;
}

.patient-care-img .ai-power-img-2 img,
.patient-care-img .ai-power-img-3 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.ai-power-img-1 img,
.patient-care-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.ai-base-img {
    width: 48.612%;
    position: relative;
    padding-top: 45.14%;
}

.secure-reporting-main {
    display: flex;
}

.secure-reporting-contain {
    padding: 30px;
    gap: 24px;
    border-radius: 24px;
}

.secure-details {
    gap: 8px;
}

.secure-reporting-img {
    position: relative;
    padding-top: 66.357%;
}

.secure-reporting-img img {
    border-radius: 12px;
}

.secure-reporting-contain:nth-child(odd) {
    flex: 1;
}

.secure-reporting-contain:nth-child(even) {
    width: 48.959%;
}

.hero-banner-platform-main {
    position: relative;
    display: flex;
    align-items: center;
    gap: 98px;
    padding-top: 204px;
    padding-bottom: 95px;
}

.hero-banner-platform-main::before,
.hero-banner-platform-main::after,
.hero-banner-platform-img::after {
    content: "";
    position: absolute;
    width: 258px;
    height: 258px;
    background: #1C91F9;
    border-radius: 50%;
    filter: blur(300px);
    z-index: 0;
}

.hero-banner-platform-main::before {
    left: -240px;
    top: -48px;
}

.hero-banner-platform-main::after {
    left: -200px;
    bottom: -50px;
}

.hero-banner-platform-img::after {

    right: -70px;
    bottom: -50px;
}

.hero-banner-platform-main .hero-banner-bottom {
    flex: 1;
}

.hero-banner-platform-img {
    position: relative;
    margin-right: -21.5%;
    width: 70.21%;
}

.hero-banner-bottom p {
    color: var(--white);
}

.hero-banner-platform-img img {
    border-top-left-radius: 21.55px;
    border-bottom-left-radius: 21.55px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ai-power-img-3 {
    bottom: 49px;
    position: absolute;
    left: -92px;
}

.admission-discharge-main {
    display: flex;
}

.admission-discharge-left {
    flex: 1;
}

.admission-discharge-right {
    width: 47.223%;
}

.admission-discharge-right img {
    border-radius: 24px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admission-list {
    padding: 20px 20px 20px 54px;
    border-radius: 16px;
    background: var(--light-sky-blue);
}

.admission-discharge-left-bottom {
    gap: 12px;
}

.admission-list .small-p {
    position: relative;
}

.admission-list .small-p::before {
    position: absolute;
    content: "";
    background-image: url(./images/blue-tick.svg);
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    top: 0;
    left: -40px;
}

.audit-managment-main {
    gap: 39px;
}

.audit-managment-main .heading-top {
    display: flex;
    gap: 175px;
}

.audit-managment-main h2 {
    width: 39.1%;
}

.audit-managment-main p {
    flex: 1;
}

.audit-managment-main .admission-discharge-left-bottom {
    flex: 1;
}

.audit-managment-img {
    width: 47.084%;
}

.audit-managment-section .admission-list {
    background: var(--white);
}

.audit-managment-bottom {
    align-items: stretch;
}

.mediqm-details p {
    display: none;
    margin: 0;
}

.mediqm-details.active p {
    display: block;
}

.key-features-main {
    align-items: flex-start;
    display: flex;
}

.features-left {
    gap: 24px;
    flex: 1;
}

.features-right {
    position: relative;
    width: 47.084%;
    padding-top: 44.237%;
}

.get-touch .learn-more-img {
    width: 53.224%;
    margin-top: -94px;
    margin-right: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    align-self: end;
}

.career-details {
    border-radius: 24px;
    padding: 30px;
    border: 1px solid rgba(24, 24, 24, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.career-information-main {
    max-width: 1200px;
    margin: 0px auto;
}

.career-information {
    max-width: 800px;
}

.career-heading {
    gap: 8px;
}

.career-information {
    gap: 24px;
}

.career-report {
    display: flex;
    gap: 24px;
}

.report span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 6px;

}

.report {
    border-radius: 100px;
    padding: 7px 12px;
    border: 1px solid rgba(24, 24, 24, 0.2)
}


.blog-news-section {
    padding-top: 231px;
    padding-bottom: 60px;
}

.blog-news-heading h1,
.support-heading h1 {
    color: var(--black);
    text-align: center;
}

.blog-news-heading {
    align-items: center;
}

.blog-news-heading p {
    max-width: 600px;
    text-align: center;
}

.blogs-news-btn {
    display: inline-flex;
    background: rgba(217, 237, 255, 1);
    border-radius: 64px;
}

.blogs-news-btn .btn {
    border-radius: 64px;
    padding: 13px 30px;
    color: #000;
    font-weight: 600;
    background: transparent;
    border: none;
    transition: all 0.3s ease;
}

.blogs-news-btn .btn.active {
    background: var(--skyblue);
    color: var(--white);
}

.blogs-news-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.blogs-details span {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--skyblue);
    position: relative;
}

.blogs-details span::before {
    position: absolute;
    content: "";
    background-image: url(./images/Icon\ wrap.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    right: 0;
}

.blogs-details-box {
    border-radius: 24px;
    padding: 24px;
    gap: 24px;
}

.blogs-contain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.blogs-news-bottom .blogs-details-box:first-child {
    grid-area: span 2;
}

.blogs-news-bottom .blogs-details-box:not(:first-child) {
    flex-direction: row;
    align-items: center;
}

.blogs-news-bottom .blogs-img {
    position: relative;
    padding-top: 56.5%;
}

.blogs-details.flex-col {
    flex: 1;
}

.blogs-news-bottom .blogs-img img {
    border-radius: 12px;
    object-position: top;
}

.blogs-img1 {
    width: 47.7%;
    position: relative;
    padding-top: 36.692%;
}

.blogs-img2 img {
    border-radius: 12px;
}

.blogs-img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.blogs-img-tab {
    position: relative;
    padding-top: 68%;
}

.blogs-img-tab img {
    border-radius: 12px;
}


.contact-us-section,
.support-section {
    padding-top: 231px;
}

.contact-us-main {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.contact-us-main h1 {
    color: var(--black);
}

.contact-us-left {
    padding: 30px;
    border-radius: 24px;
    gap: 40px;
    flex: 1;
}

.form-details {
    gap: 24px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.full-name {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.name {
    gap: 6px;
    width: 100%;
}

.service-op {
    position: relative;
    display: inline-block;
    width: 100%;
}

.service-op select,
.phone-input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 11px 16px;
    border-radius: 8px;
    border: 1px solid rgba(205, 205, 205, 1);
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    color: rgb(112, 111, 111);
}

.phone-input {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 11px 16px;
    border-radius: 8px;
    border: 1px solid rgba(205, 205, 205, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.phone-input select {
    width: 4.8%;
    padding: 0;
    border: none;
    outline: none;
    color: rgb(112, 111, 111);
}

.phone-input::after {
    content: "";
    position: absolute;
    left: 44px;
    bottom: 14px;
    width: 20px;
    height: 20px;
    background-image: url("./images/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.name .phone-number {
    flex: 1;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 0;
    outline: none;
}

.service-op {
    position: relative;
    display: inline-block;
    width: 100%;
}

.service-op::after {
    content: "";
    position: absolute;
    right: 16px;
    bottom: 12px;
    width: 24px;
    height: 24px;
    background-image: url("./images/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
}

.name input,
select {
    padding: 11px 16px;
    border-radius: 8px;
    border: 1px solid rgba(205, 205, 205, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
}

textarea {
    padding: 10px 14px;
    border-radius: 8px;
    height: 125px;
    resize: none;
}

.contact-us-right {
    width: 48.612%;
}

.contact-us-right img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

label {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.checkbox label {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

.form-btn .btn {
    width: 100%;
    padding: 12px 20px;
}

.support-heading.flex-col {
    align-items: center;
    gap: 24px;
}

.support-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search-box {
    width: 48.62%;
    border-radius: 58px;
    padding: 13px 30px;
    border: 1px solid rgba(205, 205, 205, 1);
    background: var(--white);
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333;
    width: 100%;
}

.search-box input::placeholder {
    color: #aaa;
}

.support-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.support-details {
    padding: 30px;
    border-radius: 12px;
    gap: 20px;
    align-items: center;
}

.support-details-heading {
    gap: 8px;
    text-align: center;
}